@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(227, 225, 225);
  font-family: "Poppins", sans-serif;
  /* background: url("images/bg.jpg"); */
}

select {
  font-family: "Poppins", sans-serif;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.403);
  color: white;
  cursor: pointer;
  border: 1px solid black;
}
select:hover {
  background-color: rgba(0, 0, 0, 0.403);
}

option {
  background-color: rgb(0, 0, 0);
}

button {
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  width: 150px;
  background-color: rgb(169, 227, 145);
  color: rgb(0, 0, 0);
  font-weight: 700;
}
button:hover {
  background-color: rgba(170, 227, 145, 0.878);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(254, 254, 254);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  margin-top: 155px;
  border: 1px solid rgba(255, 255, 255, 0.228);
}
.container h1 {
  margin-top: 20px;
  border-bottom: 1px solid grey;
}
.container label {
  margin-right: 10px;
  border: none;
}

.tax-year {
  margin-top: 20px;
}

.income input {
  font-family: "Poppins", sans-serif;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.403);
  color: white;
  cursor: pointer;
  width: 150px;
  text-indent: 15px;
  margin-left: 12px;
  border: 1px solid black;
}

.income input:focus {
  outline: none;
}
.income i {
  position: absolute;
  margin-top: 28px;
  margin-left: 25px;
}

.results {
  margin-top: 50px;
}
.results p {
  color: grey;
  pointer-events: none;
}
.results input {
  border: none;
  font-size: 30px;
  pointer-events: none;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
}
.results input::placeholder {
  color: rgba(255, 255, 255, 0.422);
}
.results input:focus {
  outline: none;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

footer {
  text-align: center;
  width: 295px;
  margin: auto;
  margin-top: 50px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: center;
}
